

body {
    font-family: 'Segoe UI', Tahoma, Arial;
    background: #eef2f3;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 650px;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 4px 18px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    color: #2d572c;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 15px;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #999;
    margin-top: 5px;
}

button {
    margin-top: 25px;
    width: 100%;
    padding: 14px;
    background: #2d572c;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background: #3b7a36;
}

.result {
    margin-top: 25px;
    padding: 20px;
    background: #f0fff0;
    border-left: 6px solid #2d572c;
    font-size: 20px;
}
